.homeContainer{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.homeContainer header{
    display: flex;
}

.homeContainer header img{
    height: 150px;
}

.homeContainer header div{
    margin-left: 100px;
}

.filterContainer{
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.filterContainer input{
    margin: 10px;
    height: 30px;
    width: auto;
    border-radius: 5px;
    border: 2px solid lightblue;
    outline: none;
    transition: all 0.3s ease;
    padding: 5px;
    font-size: 1.1rem;
}

.filterContainer input:focus{
    border:1px solid lightseagreen;
    box-shadow: 0 0 8px 0 lightseagreen; 
}

.resetBtn{
    all: unset;
    font-size: 1.1rem;
    padding: 10px;
    border-radius: 5px;
    margin-left: 10px;
    font-weight: bold;
    background-color: rgb(144, 211, 238);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
    transition: ease 0.2s ;
    cursor: pointer;
}

.resetBtn:hover{
    background-color: rgb(109, 141, 184);
    transform: scale(1.05);
    
}

.container{
    width: 10%;
}
