.homeContainer{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}



.filterContainer{
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.filterContainer input{
    margin: 1rem;
    height: 2rem;
    width: auto;
    border-radius: 5px;
    border: 1px solid lightblue;
    outline: none;
    transition: all 0.3s ease;
    padding: 5px;
    font-size: 1.1rem;
}

.filterContainer input:focus{
    border:1px solid lightseagreen;
    box-shadow: 0 0 7px 0 lightseagreen; 
}

.resetBtn{
    all: unset;
    font-size: 1rem;
    padding: 0 10px 0 10px;
    border-radius: 5px;
    font-weight: bold;
    background-color: rgb(144, 211, 238);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
    transition: ease 0.2s ;
    cursor: pointer;
}

.resetBtn:hover{
    background-color: rgb(109, 141, 184);
    transform: scale(1.05);
    
}

.container{
    width: 10%;
}

@media (max-width: 600px){
    .App{
        width: auto;
        height: 100vh;
        font-size: 1rem;
    }
    .filterContainer{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .filterContainer input{
        margin: 1rem;
        height: 2rem;
        width: 20rem;
        border-radius: 5px;
        border: 1px solid lightblue;
        outline: none;
        transition: all 0.3s ease;
        padding: 5px;
        font-size: 1.2rem;
    }
    .homeContainer{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .resetBtn{
        margin-bottom: 1rem;
        margin-top: 2rem;
        width: 20rem;
        height: 2rem;
        font-size: 1.5rem;
    }
    .homeContainer header div{
        margin-left: 0px;
    }
    

}